<div class="body">
  <mat-card class="card-fx">
    <mat-card-title>
      <h3>Login</h3>
    </mat-card-title>

    <mat-card-subtitle>

    </mat-card-subtitle>

    <mat-grid-list cols="2" rowHeight="2:2">

      <mat-grid-tile>
        <mat-card-content>
          <p>
            <mat-form-field class="m-f-f" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="********">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Case-Sensitive</mat-hint>
            </mat-form-field>
          </p>

          <mat-slide-toggle>Remember <Menu></Menu></mat-slide-toggle>
          <br>
          <button class="mat-icon-button" routerLink='/user'>Log In</button>
        </mat-card-content>
      </mat-grid-tile>


      <mat-grid-tile>
        <div>
          <span>
            <p>Login With Facebook(Coming Soon)</p>
          </span>
          <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTkgMGgtMTRjLTIuNzYxIDAtNSAyLjIzOS01IDV2MTRjMCAyLjc2MSAyLjIzOSA1IDUgNWgxNGMyLjc2MiAwIDUtMi4yMzkgNS01di0xNGMwLTIuNzYxLTIuMjM4LTUtNS01em0tMyA3aC0xLjkyNGMtLjYxNSAwLTEuMDc2LjI1Mi0xLjA3Ni44ODl2MS4xMTFoM2wtLjIzOCAzaC0yLjc2MnY4aC0zdi04aC0ydi0zaDJ2LTEuOTIzYzAtMi4wMjIgMS4wNjQtMy4wNzcgMy40NjEtMy4wNzdoMi41Mzl2M3oiLz48L3N2Zz4=">
        </div>
        <div>
          <span>
            <p>Login With Google(Coming Soon</p>
          </span>
          <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTkgMGgtMTRjLTIuNzYxIDAtNSAyLjIzOS01IDV2MTRjMCAyLjc2MSAyLjIzOSA1IDUgNWgxNGMyLjc2MiAwIDUtMi4yMzkgNS01di0xNGMwLTIuNzYxLTIuMjM4LTUtNS01em0tMTAuMzMzIDE2LjY2N2MtMi41ODEgMC00LjY2Ny0yLjA4Ny00LjY2Ny00LjY2N3MyLjA4Ni00LjY2NyA0LjY2Ny00LjY2N2MxLjI2IDAgMi4zMTMuNDYgMy4xMjcgMS4yMmwtMS4yNjcgMS4yMmMtLjM0Ny0uMzMzLS45NTQtLjcyLTEuODYtLjcyLTEuNTkzIDAtMi44OTMgMS4zMi0yLjg5MyAyLjk0N3MxLjMgMi45NDcgMi44OTMgMi45NDdjMS44NDcgMCAyLjU0LTEuMzI3IDIuNjQ3LTIuMDEzaC0yLjY0N3YtMS42aDQuNDA2Yy4wNDEuMjMzLjA3NC40NjcuMDc0Ljc3My0uMDAxIDIuNjY2LTEuNzg3IDQuNTYtNC40OCA0LjU2em0xMS4zMzMtNGgtMnYyaC0xLjMzNHYtMmgtMnYtMS4zMzNoMnYtMmgxLjMzNHYyaDJ2MS4zMzN6Ii8+PC9zdmc+">
        </div>
      </mat-grid-tile>

    </mat-grid-list>


    <mat-card-actions>
      <button class="mat-icon-button" routerLink=''>Back</button>
    </mat-card-actions>
  </mat-card>
</div>